<div class='well'>
<p>This bodega was founded in 1917, by venture capitalists from the desert, looking to make a name for themselves in New York's Convenience Market</p>

	<ul>
		<li>Put Bacon with Eggs and Cheese onto a roll!</li>
		<li>Sell Cigarettes Loosely</li>
		<li>Get Sanctioned by NYPD for Selling Cigarettes Loosely</li>
		<li>Sell Cigarettes to Minors</li>
		<li>Pay fines for selling cigarettes to minors</li>
		<li>Sell alcohol to bums</li>
		<li>Open Bottles, and Place them in paper bags! (For your convenience!)</li>
	</ul>

<p>
	No Matter what you've wanted, we've had your back.  Now we're bringing our store to you!
</p>
</div>

