<p>This bodega was sponsored by the good folks at al quada</p>

<p>Our bodega has a lasting memory of serving customers since 1985 and we've been growing and diverifying our market and in love with the smiles we get from the communities we serve!!!!</p>

