<p>
  If you're interested in any of our products, email us and we'll get back to you whenever we feel like it!
</p>

<form method="POST" action="/contact">
  <input type="text" name="username" placeholder="username"><br/>
  <textarea name="text" type="comments"></textarea><br/>
  <input type="submit">
</form>