<p>
  If you're interested in any of our products, email us and we'll get back to you whenever we feel like it!
</p>

<form method="POST" action="/contact">
  <input name="name" type="name" placeholder="name"><br/>
  <textarea name="text" placeholder="Message Us"></textarea><br/>
  <input type="submit">
</form>