<p class="well">
  If you're interested in any of our products, email us and we'll get back to you whenever we feel like it!
</p>
<br/>
<p class="well">
  We have a Range Of Assorted Items, to Semi-Satisfy Most Of Your <br/> "2:30AM, We Ran Out Of ____ At Our Party Needs!"
</p>
<br/>
<div class='formback'>
  <form method="POST" action="/contact">
    <input type="text" name="username" placeholder="username"><br/>
    <textarea name="text" type="comments" placeholder="what can we bring you?"></textarea><br/>
    <input type="submit">
  </form>
</div>