<div>
  <h1>Welcome to Bodega</h1>
  
  <p>At Bodega, we will brind you all of that dirt cheap stuff you are too lazy to walk down to the corner and buy.
  </p>

  <p>We Offer Two Membership Plans For Your Convenience.</p>

<div class="well">
  <div class="left">
  <h3>Basic Membership</h3>
  <p>Basic Membership is free, but we charge $10 per delivery!</p></div>

  <div class="right"><h3>Prime Membership</h3>
  <p>Pro Membership is $30 per month, but Delivery only Costs $2 each!</p></div>
</div>



</div>