<div class = "container">
	<img src="images/bodega-oreo.jpg" class = "image_gallery">
	<figcaption class = "figures">
		<span>Get a great package of oreos half off! "0.89"</span>
</div>

<div class = "container">
	<img src = "images/hookah.jpg" class = "image_gallery">
	<figcaption class = "figures">
		<span>Get some royal, elegant hookahs for you and your significant other!</span>
	</figcaption>
</div>

<div class = "container">
	<img src = "images/jug_juice.jpg" class = "image_gallery">
	<figcaption class = "figures">
		<span>Get some jugs for you and the spouse $2.99</span>
	</figcaption>
</div>

<div class = "container">
	<img src = "images/rockfield.jpg" class = "image_gallery">
	<figcaption class = "figures">
		<span>Need a smoke break, go and inhale on some signature 
				rockfield packs 2.99</span>
	</figcaption>
</div>

<div class = "container">
	<img src = "images/reuben.jpg" class = "image_gallery">
	<figcaption class = "figures">
		<span>Feast your eyes on a delicious reuben sandwich, all for 8.99!</span>
	</figcaption>
</div>

<div class = "container">
	<img src = "images/bodega-lady.jpg" class = "image_gallery">
	<figcaption class = "figures">
		Treat yourself to a tasty delicious treat, scrumptious!
	</figcaption>
</div>

<div class='outerlightbox'>
	<div class='innerLightbox'>
		<img id="imagebox" src="">
	</div>
</div>